
<div class="w3-container">

	<div id="welcome">
		<h1>Welcome to Grocery Lister!</h1>
	</div>
<style>
#sign-in {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top:20px;
    display: none;
}
</style>

	<div id="sign-sign">
		<!--Note: The element will not take up any space when the display property set to "none".-->
		<button class="w3-btn w3-green w3-ripple" onclick="signIn()"><h2>Sign In</h2></button>
		<br />
		or
		<br />
		<h2>Sign Up</h2>


	</div>

	<div id="sign-in">
		<form id="myForm">

			<!--<input type="text" id="useremail" > <button value="00" name="sampename" id="add-u-e" onclick="addUsername()">Add</button><br>-->

		<!-- This example uses the viewmodel as shown in class -->
			Name:<br />
			<input 	class="w3-input w3-border"
					type="text" 
					id="username"
					ng-model="ListVM.userName" /> 
					<button class="w3-btn w3-green w3-ripple" 
							id="add-u-n" 
							type="submit">
							<a ng-href="/{{'create-a-list/features/home/home.html'}}">Add</button></a><br>

					<p ng-bind="ListVM.userName"></p>

		</form>
	</div>


</div>

<!-- <form>
			Name:<br>
			<input type="text" ng-model="DashboardVM.itemName"><br>
		</form>
		-->

<div class="w3-container w3-teal">
  <p>My footer information</p>
</div>
